<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbycj4V7l3phOKiL_QrDT5GneuL95a88M</string>
	<key>GCM_SENDER_ID</key>
	<string>207878550845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sualpdanaci.Economate</string>
	<key>PROJECT_ID</key>
	<string>economate-4ebba</string>
	<key>STORAGE_BUCKET</key>
	<string>economate-4ebba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207878550845:ios:4af3b367d592cfcb460154</string>
</dict>
</plist>